---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1600+Pennsylvania+Ave+NW%2C+Washington%2C+DC+20500&key=AIzaSyAVMJ-Z40VMIYvlREaoei8X02F9OpQn6PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-goog-maps-metro-area:
      - Washington, DC
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"1600\",\n
        \              \"short_name\" : \"1600\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Pennsylvania Avenue Northwest\",\n               \"short_name\"
        : \"Pennsylvania Ave NW\",\n               \"types\" : \n               [\n
        \                 \"route\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Northwest Washington\",\n               \"short_name\"
        : \[...]
